<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nueva empresa" icon="pi pi-plus" class="p-button-success"
                            (click)="abrirModalCrear()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            @if (loading) {
                <app-pg-tabla [title]="tableConfig.title" [data]="tableConfig.data" [cols]="tableConfig.cols" [globalFilterFields]="tableConfig.globalFilterFields"></app-pg-tabla>
            }
        </div>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="Empresa" [modal]="true" class="p-fluid">
    <form [formGroup]="formEmpresa" (ngSubmit)="crearEmpresa()">

            <div class="field">
                <label for="nit">NIT</label>
                <input type="text" pInputText formControlName="nit" id="nit" />
            </div>

            <div class="field">
                <label for="nombre">Nombre</label>
                <input type="text" pInputText formControlName="nombre" id="nombre" />
                @if (formEmpresa.get('nombre')?.hasError('required') && formEmpresa.get('nombre')?.touched) {
                <small class="p-error"> El campo nombre es requerido </small>
                }
            </div>

            <div class="field">
                <label for="descripcion">Descripción</label>
                <textarea rows="5" pInputTextarea formControlName="descripcion" id="descripcion"></textarea>
            </div>

            <div class="field">
                <label for="direccion">Dirección</label>
                <input type="text" pInputText formControlName="direccion" id="direccion" />
            </div>

            <div class="field">
                <label for="contacto">Contacto</label>
                <p-chips formControlName="contacto" inputId="contacto" />
                @if (formEmpresa.get('contacto')?.hasError('required') && formEmpresa.get('contacto')?.touched) {
                    <small class="p-error"> El campo contacto es requerido </small>
                }
            </div>

            <div class="field">
                <label for="representante">Representante</label>
                <input type="text" pInputText formControlName="representante" id="representante" />
            </div>

            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" type="button" (click)="cerrarModal()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" type="submit"></button>

    </form>
</p-dialog>
