<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <form [formGroup]="formFiltros" (ngSubmit)="generarReporte()">
                        <p-dropdown formControlName="idUsuario" inputId="idUsuario" [options]="listaUsuariosDropdown" optionLabel="name"
                            optionValue="code" placeholder="Seleccione un usuario" [showClear]="true" [appendTo]="'body'" class="mr-2" />

                        <p-dropdown formControlName="idProyecto" inputId="idProyecto" [options]="listaProyectosDropdown" optionLabel="name"
                            optionValue="code" placeholder="Seleccione un proyecto" [showClear]="true" [appendTo]="'body'" class="mr-2" (onChange)="onDropdownChange()" />

                        <p-dropdown formControlName="idSprint" inputId="idUsuario" [options]="listaSprintsDropdown" optionLabel="name"
                            optionValue="code" placeholder="Seleccione un sprint" [showClear]="true" [appendTo]="'body'" class="mr-2" />

                        <p-calendar formControlName="fecha_inicio_fin"
                            selectionMode="range"
                            dateFormat="dd/mm/yy"
                            [readonlyInput]="true"
                            placeholder="Rango de fechas"
                            [appendTo]="'body'" inputId="fecha_inicio_fin" class="mr-2" />
                        @if (formFiltros.get('fecha_inicio_fin')?.hasError('required') && formFiltros.get('fecha_inicio_fin')?.touched) {
                            <small class="p-error"> El campo fecha de inicio y fin es requerido </small>
                        }
                        <button pButton pRipple label="Generar" icon="pi pi-check" class="p-button-text" type="submit"></button>
                    </form>
                </ng-template>
            </p-toolbar>
            @if (loading) {
                <app-pg-tabla [title]="tableConfig.title" [data]="tableConfig.data" [cols]="tableConfig.cols" [globalFilterFields]="tableConfig.globalFilterFields" [paginator]="tableConfig.paginator"></app-pg-tabla>
            }
        </div>
    </div>
</div>
