<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo rol" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            @if (loading) {
                <app-pg-tabla [title]="tableConfig.title" [data]="tableConfig.data" [cols]="tableConfig.cols" [globalFilterFields]="tableConfig.globalFilterFields"></app-pg-tabla>
            }
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="Nuevo rol" [modal]="true" class="p-fluid">
            <form [formGroup]="formRol" (ngSubmit)="crearUsuario()">

                    <div class="field">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" pInputText id="nombre" />
                        @if (formRol.get('nombre')?.hasError('required') && formRol.get('nombre')?.touched) {
                        <small> El campo nombre es requerido </small>
                        }
                        @if (formRol.get('nombre')?.hasError('minlength') && formRol.get('nombre')?.touched) {
                        <small> El campo nombre debe tener al menos 3 caracteres </small>
                        }
                    </div>
                    
                    <div class="field">
                        <label for="modulos">Módulos</label>
                        <p-multiSelect [options]="listamodulosMultiselect" formControlName="modulos" optionLabel="name" placeholder="Seleccione módulos" inputId="modulos" [appendTo]="'body'" />
                        @if (formRol.get('modulos')?.hasError('required') && formRol.get('modulos')?.touched) {
                        <small> El campo módulos es requerido </small>
                        }
                    </div>
                    
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" type="button" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" type="submit"></button>

            </form>
        </p-dialog>

    </div>
</div>
