<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <p-button icon="pi pi-arrow-left" size="large" [text]="true" [raised]="true" severity="secondary" class="mr-3" routerLink="../tablero" />
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo proyecto" icon="pi pi-plus" class="p-button-success"
                            (click)="abrirModalCrear()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="listaProyectos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre', 'descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de proyectos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">Descripción<p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="costo_estimado">Costo estimado<p-sortIcon field="costo_estimado"></p-sortIcon></th>
                        <th pSortableColumn="fecha_inicio">Fecha de inicio<p-sortIcon field="fecha_inicio"></p-sortIcon></th>
                        <th pSortableColumn="fecha_fin">Fecha de finalización<p-sortIcon field="fecha_fin"></p-sortIcon></th>
                        <th pSortableColumn="id_equipo">Equipo<p-sortIcon field="id_equipo"></p-sortIcon></th>
                        <th pSortableColumn="id_empresa">Empresa<p-sortIcon field="id_empresa"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado<p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="created_at">Fecha de registro<p-sortIcon field="created_at"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proyecto>
                    <tr>
                        <td>
                            {{ proyecto.nombre }}
                        </td>
                        <td>
                            {{ proyecto.descripcion }}
                        </td>
                        <td>
                            {{ proyecto.costo_estimado | currency:'Bs.' }}
                        </td>
                        <td>
                            {{ proyecto.fecha_inicio | date:'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ proyecto.fecha_fin | date:'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ proyecto.equipo.nombre }}
                        </td>
                        <td>
                            {{ proyecto.empresa.nombre }}
                        </td>
                        <td>
                            <p-tag [rounded]="true" [value]="proyecto.estado.toUpperCase()"
                                [style]="{ background: proyecto.estado === estado.PLANIFICADO ? 'var(--blue-400)' :
                                proyecto.estado === estado.EN_CURSO ? 'var(--yellow-400)' :
                                proyecto.estado === estado.ACABADO ? 'var(--green-400)' : 'var(--gray-400)' }" />
                        </td>
                        <td>
                            {{ proyecto.created_at | date:'dd/MM/yyyy' }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" size="large" [rounded]="true" [text]="true" [raised]="true" severity="success" (click)="abrirModalEditar(proyecto)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="Proyecto" [modal]="true" class="p-fluid">
            <form [formGroup]="formProyecto" (ngSubmit)="crearProyecto()">

                    <div class="field">
                        <label for="nombre">Nombre</label>
                        <input type="text" pInputText formControlName="nombre" id="nombre" />
                        @if (formProyecto.get('nombre')?.hasError('required') && formProyecto.get('nombre')?.touched) {
                        <small class="p-error"> El campo nombre es requerido </small>
                        }
                        @if (formProyecto.get('nombre')?.hasError('minlength') && formProyecto.get('nombre')?.touched) {
                        <small class="p-error"> El campo nombre debe tener al menos 3 caracteres </small>
                        }
                    </div>

                    <div class="field">
                        <label for="descripcion">Descripción</label>
                        <input type="text" pInputText formControlName="descripcion" id="descripcion" />
                        @if (formProyecto.get('descripcion')?.hasError('required') && formProyecto.get('descripcion')?.touched) {
                        <small class="p-error"> El campo descripción es requerido </small>
                        }
                    </div>

                    <div class="field">
                        <label for="costo_estimado">Costo estimado</label>
                        <p-inputNumber formControlName="costo_estimado"
                            mode="decimal"
                            [useGrouping]="false"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2" inputId="costo_estimado" /> 
                        @if (formProyecto.get('costo_estimado')?.hasError('required') && formProyecto.get('costo_estimado')?.touched) {
                        <small class="p-error"> El campo costo estimado es requerido </small>
                        }
                    </div>

                    <div class="field">
                        <label for="fecha_inicio_fin">Fecha de inicio y fecha de finalización</label>
                        <p-calendar formControlName="fecha_inicio_fin"
                            selectionMode="range"
                            dateFormat="dd/mm/yy"
                            [readonlyInput]="true"
                            [appendTo]="'body'" inputId="fecha_inicio_fin" />
                        @if (formProyecto.get('fecha_inicio_fin')?.hasError('required') && formProyecto.get('fecha_inicio_fin')?.touched) {
                        <small class="p-error"> El campo fecha de inicio y fin es requerido </small>
                        }
                    </div>

                    <div class="field">
                        <label for="id_equipo">Equipo de desarrollo</label>
                        <p-dropdown formControlName="id_equipo" inputId="id_equipo" [options]="listaEquiposDropdown" optionLabel="name"
                            placeholder="Seleccione un equipo" [appendTo]="'body'" />
                        @if (formProyecto.get('id_equipo')?.hasError('required') && formProyecto.get('id_equipo')?.touched) {
                        <small class="p-error"> El campo equipo de desarrollo es requerido </small>
                        }
                    </div>

                    <div class="field">
                        <label for="id_empresa">Empresa</label>
                        <p-dropdown formControlName="id_empresa" inputId="id_empresa" [options]="listaEmpresasDropdown" optionLabel="name"
                            optionValue="code" placeholder="Seleccione una empresa" [appendTo]="'body'" />
                        @if (formProyecto.get('id_empresa')?.hasError('required') && formProyecto.get('id_empresa')?.touched) {
                        <small class="p-error"> El campo empresa es requerido </small>
                        }
                    </div>

                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" type="button" (click)="cerrarModal()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" type="submit"></button>

            </form>
        </p-dialog>

    </div>
</div>
