<p-table #dt [value]="data" [columns]="cols" responsiveLayout="scroll" [rows]="10"
    [globalFilterFields]="globalFilterFields" [paginator]="paginator" [rowsPerPageOptions]="[10,20,30]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [rowHover]="true" dataKey="id" [csvSeparator]="';'" id="content">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ title }}</h5>
            <div>
                <p-button icon="pi pi-file-excel" label="EXCEL" (onClick)="dt.exportCSV()" class="mr-2" />
                <p-button icon="pi pi-file-pdf" label="PDF" (onClick)="generarPDF()" />
            </div>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            @if (!emptySubTable()) {
                <th></th>
            }
            @for (col of columns; track col) {
                @if (col.sort === false) {
                    <th>
                        {{ col.header }}
                    </th>
                } @else {
                    <th [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                }
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
        <tr>
            @if (!emptySubTable()) {
                <td>
                    <p-button type="button" pRipple [pRowToggler]="rowData" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
            }
            @for (col of columns; track col) {
                <td>
                @switch (col.type) {
                    @case ('state') {
                        <p-tag [rounded]="true" [value]="getNestedValue(rowData, col.field) ? 'ACTIVO' : 'INACTIVO'" [severity]="getNestedValue(rowData, col.field) ? 'success' : 'danger'" />
                    }
                    @case ('date') {
                        {{ getNestedValue(rowData, col.field) | date:'dd/MM/yyyy' }}
                    }
                    @case ('fullDate') {
                        {{ getNestedValue(rowData, col.field) | date:'dd/MM/yyyy, HH:mm:ss' }}
                    }
                    @case ('chip') {
                        @for (item of getNestedValue(rowData, col.field).split(', '); track item) {
                            <p-chip [label]="item" class="mr-2" />
                        }
                    }
                    @case ('money') {
                        {{ getNestedValue(rowData, col.field) | currency:'Bs.' }}
                    }
                    @case ('short') {
                        {{ getNestedValue(rowData, col.field) | slice:0:50 }}...
                    }
                    @case ('actions') {
                        <div class="flex">
                        @for (action of col.actions; track action) {
                            @if (action.type === 'edit' && rowData[action.visible]) {
                                <button pButton pRipple icon="pi pi-pencil" class="mr-2" size="large" [rounded]="true" [text]="true" [raised]="true" severity="success" (click)="action.click(rowData)"></button>
                            }
                            @if (action.type === 'inactivate' && rowData[action.visible]) {
                                <button pButton pRipple icon="pi pi-trash" size="large" [rounded]="true" [text]="true" [raised]="true" severity="danger" [swal]="alertaBorrar" (confirm)="action.click(rowData)"></button>
                            }
                            @if (action.type === 'activate' && !rowData[action.visible]) {
                                <button pButton pRipple icon="pi pi-undo" size="large" [rounded]="true" [text]="true" [raised]="true" severity="success" [swal]="alertaBorrar" (confirm)="action.click(rowData)"></button>
                            }
                        }
                        </div>
                    }
                    <!-- NOTA: TEMP -->
                    @case ('personalizado') {
                        {{ col.accion(getNestedValue(rowData, col.field)) }}
                    }
                    @default {
                        {{ getNestedValue(rowData, col.field) }}
                    }
                }
                </td>
            }
        </tr>
    </ng-template>
    @if (!emptySubTable()) {
    <ng-template pTemplate="rowexpansion" let-rowData>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="rowData[subTable.data]" [columns]="subTable.cols">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                @for (col of columns; track col) {
                                    <th>
                                        {{ col.header }}
                                    </th>
                                }
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                @for (col of columns; track col) {
                                    <td>
                                        {{ getNestedValue(rowData, col.field) }}
                                    </td>
                                }
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
    }
</p-table>
